In [4]:
import os
import pandas as pd

In [5]:
folder_path = "E:/Natural Language Processing/Project/ML/dataset"
folders = os.listdir(folder_path)
folders

['business',
 'entertainment',
 'food',
 'graphics',
 'historical',
 'medical',
 'politics',
 'space',
 'sport',
 'technologies']

In [6]:
import os

rows = []
for c in folders:
    docs = os.listdir(f"{folder_path}/{c}")
    for d in docs:
        with open(f"{folder_path}/{c}/{d}", "r", encoding="utf-8") as file:
            try:
                rows.append([file.read(), c])
            except UnicodeDecodeError as e:
                print(f"Error reading file {d}: {e}")

In [7]:
df = pd.DataFrame(rows, columns=["doc_text", "class"])
df.sample(5)

                                              doc_text          class
748  Archive-name: space/astronaut\nLast-modified: ...          space
129  New media battle for Bafta awards\n\nThe BBC l...  entertainment
252  The Antioxidant Properties of Chocolate\nIf yo...           food
52   Soaring oil 'hits world economy'\n\nThe soarin...       business
815  Holmes secures comeback victory\n\nBritain's K...          sport

In [8]:
df["class"][5]

'business'

In [9]:
df["doc_text"][5]

'Industrial revival hope for Japan\n\nJapanese industry is growing faster than expected, boosting hopes that the country\'s retreat back into recession is over.\n\nIndustrial output rose 2.1% - adjusted for the time of year - in January from a month earlier. At the same time, retail sales picked up faster than at any time since 1997. The news sent Tokyo shares to an eight-month high, as investors hoped for a recovery from the three quarters of contraction seen from April 2004 on. The Nikkei 225 index ended the day up 0.7% at 11,740.60 points, with the yen strengthening 0.7% against the dollar to 104.53 yen. Weaker exports, normally the engine for Japan\'s economy in the face of weak domestic demand, had helped trigger a 0.1% contraction in the final three months of last year after two previous quarters of shrinking GDP. Only an exceptionally strong performance in the early months of 2004 kept the year as a whole from showing a decline. The output figures brought a cautiously optimistic response from economic officials. "Overall I see a low risk of the economy falling into serious recession," said Bank of Japan chief Toshihiko Fukui, despite warning that other indicators - such as the growth numbers - had been worrying.\n\nWithin the overall industrial output figure, there were signs of a pullback from the export slowdown. Among the best-performing sectors were key overseas sales areas such as cars, chemicals and electronic goods. With US growth doing better than expected the picture for exports in early 2005 could also be one of sustained demand. Electronics were also one of the keys to the improved domestic market, with products such as flat-screen TVs in high demand during January.\n'

In [12]:
df.to_excel("E:/Natural Language Processing/Project/ML/dataset/doc_classification.xlsx", index=False)